.BasketPos {
    border-style: double;
    margin: 2px;
}

.description {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    margin: 1%;
}

.price {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    margin: 1%;
}