.element {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    padding: 10px;
}

.element img {
    width: 100x;
    height: 100px;
    margin: 10px;
    object-fit: cover;
}

.order {
    width: 10%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 11px;
    margin: 1%;
    background-color: #319b42;
}

.item {
    margin: 2%;
    border-style: outset;
}

a {
    text-decoration: none;
    color: black;
}