.header {
    grid-area: h;
    padding-right: 5%;
    text-align: right;
    background-color: #20232b;
    cursor: pointer;
}

.item {

    padding-right: 1%;
    text-decoration: none;
    color: white;
    
}

.active {
    padding-right: 1%;
    text-decoration: none;
    color: rgb(201, 201, 201);
}

.headerInfo {

    font-family: 'Open Sans';
    font-size: 11px;
    margin-top: 0.5%;
}

a {
    cursor: pointer;
}