.positsion {
    text-decoration: none;
    border-style: double;
    padding: 3px
}

.description {
    color: #1e191d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 2px;
    margin: 0px;
}

.price {
    color: #1e191df2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 2px;
    margin: 0px;
}