@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
}

.app-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: grid;
  text-decoration: none;

  grid-template-rows: 25px 30px 10fr;
  grid-template-columns: 1fr;

  grid-template-areas:
    "h"
    "i"
    "p"
    
}

.app-wrapper-content {
  grid-area: p;
  background-color: #fcfafa;
  margin: 0 auto;
  width: 90%;
}

.app-wrapper a {
  cursor: pointer;
}