.app-wrapper {
  text-align: center;
  margin: 0 auto;
  display: grid;
  text-decoration: none;

  grid-template-rows: 25px 30px 10fr;
  grid-template-columns: 1fr;

  grid-template-areas:
    "h"
    "i"
    "p"
}

.app-wrapper-content {
  grid-area: p;
  background-color: #b4a3ff;
  margin: 0 auto;
  width: 90%;
}


/* #fcfafa */