.app-wrapper {
  
  display: grid;
  text-decoration: none;
  

  grid-template-rows: 25px 30px 10fr;
  grid-template-columns: 1fr;

  grid-template-areas:
    "h"
    "i"
    "p"
}


.app-wrapper-content {
  grid-area: p;
  background-color: #fcfafa;
  margin: 0 auto;
  width: 95%;
}

.app-wrapper a {
  cursor: pointer;
}



/* #fcfafa */